<template >
    <div id="addcontact">
        <h1>Create a Contact </h1>
        <form @submit.prevent="postContact">
          <div class="form-group">
            <label>Firstname</label>
            <input type="text"  v-model="newcontact.fname"/> <br>
            <label>Surname</label>
            <input type="text"  v-model="newcontact.sname"/> <br>
            <label>Number</label>
            <input type="text"  v-model="newcontact.number"/> <br>
            <label>Image</label>
            <input type="text"  v-model="newcontact.image"/> <br>
            <button action="submit" class="btn btn-default">Add</button>
          </div>
        </form>
    </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'AddContact',
  data () {
    return {
      params: null,
      newcontact: [
        {
          id: '',
          fname: '',
          sname: '',
          number: 21543654,
          image: 'https://cdn.dribbble.com/users/2328891/screenshots/6849475/dsaasdsa-02_2x.jpg'
        }
      ]
    }
  },
  methods: {
    postContact: function () {
      var contact = this.newcontact
      axios.post('http://127.0.0.1:8000/api/contacts', {
        id: contact.id,
        fname: contact.fname,
        sname: contact.sname,
        number: contact.number,
        image: contact.image
      })
        .then(function (response) {
          console.log(response)
          window.location.replace('http://10.0.2.15:8080/contact')
        })
        .catch(function (error) {
          console.log(error)
          console.log(contact)
        })
    }
  }
}
</script>

<style lang="scss">
br {
  margin-top: 1%;
}
</style>
