<template >
    <div id="contact">
        <h1>These are Contacts </h1>
        <table>
            <div v-if="loading === true">
                {{getContact()}}
            </div>
            <div v-for="contact in contacts" :key="contact.id">
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Number</th>
                    <th>Image</th>
                    <th colspan="2" >Action</th>
                </tr>
                <tr>
                    <td>{{ contact.fname }}</td>
                    <td>{{ contact.sname }}</td>
                    <td>{{ contact.number }}</td>
                    <td><img :src="contact.image" border=3 height=100 width=100/></td>
                    <button class="btn btn-danger"  v-on:click="removeContact(contact.id)" >Delete</button>
                    <router-link :to="{ name: 'EditContact', params: { id: contact.id }}">Edit</router-link>
                </tr>
            </div>
        </table>
    </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Contact',
  data () {
    return {
      contacts: null,
      loading: true
    }
  },
  methods: {
    getContact: function () {
      axios.get('http://127.0.0.1:8000/api/contacts')
        .then((response) => {
          this.contacts = response.data
          console.log('get')
          this.loading = false
        }, // eslint-disable-next-line
        (error) => {
          console.log('no')
          this.loading = true
        })
    }, // method for update the page
    sleep: (milliseconds) => {
      return new Promise(resolve => setTimeout(resolve, milliseconds))
    },
    removeContact: function (index) {
      var id = index
      console.log(id)
      var url = 'http://127.0.0.1:8000/api/contacts/' + id
      console.log(url)
      axios.delete(url, id)
        .then(function (response) {
          console.log(response)
        })
        .catch(function (error) {
          console.log(error)
        }) // update method
      this.sleep(1000).then(() => {
        this.getContact()
      })
    }
  }
}
</script>

<style lang="scss">
table {
  border-collapse: collapse;
  width: 50%;
  margin-left: 25%;
}
th, td {
   clear: left;
  text-align: left;
  padding: 8px;
  width: 100%;
}
tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
  margin-top: 5%;
}
</style>
