<template>
    <div id="edit">
        <h1>Edit the Contact {{this.$route.params.id}}</h1>
        <div v-if="loading === true">
                {{getContact(this.$route.params.id)}}
        </div>
        <form @submit.prevent="updateContact(contact.id)">
          <div class="form-group">
            <label>Firstname</label>
            <input type="text"  v-model="contact.fname"/> <br>
            <label>Surname</label>
            <input type="text"  v-model="contact.sname"/> <br>
            <label>Number</label>
            <input type="text"  v-model="contact.number"/> <br>
            <label>Image</label>
            <input type="text"  v-model="contact.image"/> <br>
            <button action="submit" class="btn btn-default">Update</button>
          </div>
        </form>
    </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'EditContact',
  data () {
    return {
      contact: null,
      loading: true
    }
  },
  methods: {
    getContact: function (id) {
      var url = 'http://127.0.0.1:8000/api/contacts/' + id
      axios.get(url, id)
        .then((response) => {
          this.contact = response.data
          this.loading = false
        }, // eslint-disable-next-line
          (error) => {
          console.log('no')
          this.loading = true
        })
    },
    updateContact: function (index) {
      var id = index
      var url = 'http://127.0.0.1:8000/api/contacts/' + id
      console.log(url)
      axios.put(url, this.contact)
        .then(function (response) {
          console.log(response)
          window.location.replace('http://10.0.2.15:8080/contact')
        })
        .catch(function (error) {
          console.log(error)
        })
    }
  }
}
</script>

<style scoped>

</style>
