<template>
    <div id="menu">
       <h1>This is the Home</h1>
       <a href="http://127.0.0.1:8000">Laravel</a>
    </div>
</template>

<script>
export default {
  name: 'Menu'
}
</script>

<style lang="scss">

</style>
