<template>
  <div id="app">
    <div id="nav">
      <h1>VueJS with Laravel</h1>
    </div>
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
        <h3 class="w3-bar-item">Menu</h3>
        <router-link to="/">Home</router-link> <br>
        <router-link to="/contact">Contact</router-link> <br>
        <router-link to="/contact/add">Add Contact</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  background-image: url("./assets/windo.jpg");
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
